<div class="content-for-layout focus-none">
  <div>
    <h1>{{ section.settings.title }}</h1>
  </div>

  <div>
    <p>{{ section.settings.paragraph }}</p>
  </div>

  <div>
    <img src="{{ section.settings.image_with_text_image | image_url: width: 1500 }}" alt="">

  </div>

</div>

{% render 'my-snippets' %}

<style>
  div .content-for-layout.focus-none {
    padding: 0 30vw;
  }
</style>


{% schema %}
  {
    "name": "Section Maria",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "image_picker",
        "id": "image_with_text_image",
        "label": "Image"
      }, {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph"

      }
    ]

  }
{% endschema %}