<div class="m-section-grid">
  <div class="m-section-grid-item">
    <div>
      <h1>{{ section.settings.title }}</h1>
    </div>

    <div>
      <p>{{ section.settings.paragraph }}</p>
    </div>
  </div>
  <div class="m-section-grid-item">
    <img src="{{ section.settings.image_with_text_image | image_url: width: 1500 }}" alt="">
  </div>
</div>


{%- style -%}

  .m-section-grid {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .m-section-grid-item {
    width: 50%;
    margin: auto;
    padding: 2em;
  }

  .m-section-grid-item img {
    width: 100%;
    height: 20%;
    border-radius: 10px;


  }
{%- endstyle -%}


{% render 'my-snippets' %}
{% schema %}
  {
    "name": "Section Maria",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "image_picker",
        "id": "image_with_text_image",
        "label": "Image"
      }, {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph"

      }
    ]

  }
{% endschema %}