<div class="content-for-layout focus-none">
<div><h1>About</h1></div>

<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum justo id convallis condimentum. Integer sapien ligula, ultrices ac felis sit amet, euismod tincidunt est. Suspendisse iaculis consectetur massa, eu feugiat elit sodales id. Nullam sit amet suscipit felis. Proin sed rhoncus lectus. Proin vitae vehicula nunc. Sed pharetra nisi eget egestas blandit.</p>
</div>

</div>

<style> div .content-for-layout.focus-none { padding: 0 30vw;}</style>